<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <img id="logo" src="assets/logo.png">
    </h5>
    <input class="search-input w-50" type="text" placeholder="Search" aria-label="Search">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-yellow" href="#">Features</a>
        <a class="p-2 text-yellow" href="#">Enterprise</a>
        <a class="p-2 text-yellow" href="#">Support</a>
        <a class="p-2 text-yellow" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-warning" href="#">Sign up</a>
</div>
<app-historys></app-historys>
<div class="container">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-4">
            <div class="card bg-movie-card-dark">
                <div class="card-header">
                    <img class="card-img" src="http://lorempixel.com/500/750?tt001234r" alt="Card image">
                </div>
                <div class="card-body">
                    <h1 class="card-title">Interstellar</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-4 metadata">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <p>9.5/10</p>
                            </div>
                            <div class="col-8 metadata">Adventure. Sci-Fi</div>
                        </div>
                    </div>
                    <p class="card-text">A team of explorers travel through wormhole in space in an attempt to ensure humanity's survival.</p>
                    <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-movie-card-dark">
                <div class="card-header">
                    <img class="card-img" src="http://lorempixel.com/500/750?tt001234r" alt="Card image">
                </div>
                <div class="card-body">
                    <h1 class="card-title">Interstellar</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-4 metadata">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <p>9.5/10</p>
                            </div>
                            <div class="col-8 metadata">Adventure. Sci-Fi</div>
                        </div>
                    </div>
                    <p class="card-text">A team of explorers travel through wormhole in space in an attempt to ensure humanity's survival.</p>
                    <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-movie-card-dark">
                <div class="card-header">
                    <img class="card-img" src="http://lorempixel.com/500/750?tt001234r" alt="Card image">
                </div>
                <div class="card-body">
                    <h1 class="card-title">Interstellar</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-4 metadata">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <p>9.5/10</p>
                            </div>
                            <div class="col-8 metadata">Adventure. Sci-Fi</div>
                        </div>
                    </div>
                    <p class="card-text">A team of explorers travel through wormhole in space in an attempt to ensure humanity's survival.</p>
                    <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>