.movie-history {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    /* added width so it would work in the snippet */
}

.movie-history-container {
    display: inline-block;
    width: 128px;
    height: 128px;
    margin: 0px 10px;
}

.movie-history .history-image {
    width: 94px;
    height: 94px;
    display: inline-block;
    margin: 2px 20px;
    border: 2px solid #ff9f01;
    padding: 5px;
    cursor: pointer;
}

.movie-history .author {
    color: white;
    font-size: 14px;
    text-align: center;
}