<div class="container">
    <div class="movie-history">
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author1.jpeg">
            <p class="author">Quentin Tarantino</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/character1.jpg">
            <p class="author">Shrek</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author2.jpeg">
            <p class="author">Martin Scorsese</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author3.jpeg">
            <p class="author">Christopher Nolan</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/character3.jpg">
            <p class="author">Thanos</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author4.jpeg">
            <p class="author">Guillermo Del Toro</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author5.jpeg">
            <p class="author">Alejandro González</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/author6.jpeg">
            <p class="author">George Lukas</p>
        </div>
        <div class="movie-history-container">
            <img class="history-image image-fluid rounded-circle" src="../../assets/character2.png">
            <p class="author">Kylo Ren</p>
        </div>
    </div>
</div>